body { 
    font-family: "Poppins", sans-serif; 
    margin: 0;
    padding: 0; 
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "sidebar main"
        "sidebar footer";
    gap: 10px;
    height: 100vh;

}

.header, .sidebar, .main-content, .footer {
    padding: 20px;
    text-align: center;

}

.header {
    background-color: #f4f4f4;
}

.sidebar {
    grid-area: sidebar;
    background-color: #e2e2e2;
}

.main-content {
    grid-area: main;
    background-color: #ffffff;
}
.footer {
    grid-area: footer;
    background-color: #f4f4f4;
} 

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "main"
            "sidebar"
            "footer";
    }
}