 @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

 :root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --accent-color: #e74c3c;
    --background-light: #ecf0f1;
    --text-color: #333;
    --white: #fff;
 } 

 /* Reset some default styles */ 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kanit, sans-serif; 

 } 

 /*body styles*/ 
 body {
    background-color: var(--background-light); 
    color: var(--text-color); 
    line-height: 1.6;
 } 

 /*header styles*/ 
 header {
    background: var(--primary-color); 
    color: var(--white);
    padding: 20px;
    text-align: center;
 } 

 nav ul {
    list-style: none; 
    padding: 0;
    display: flex;
    justify-content: center; 
    gap: 20px;
 }
    nav ul li a {
       display: inline-block;
    }

    nav a {
        color: var(--white);
        text-decoration: none;
        padding: 10px;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    nav a:hover {
        color: var(--accent-color);
    } 

   /* layout styles */ 
   .container {
        display: flex;
        gap: 20px;
        max-width: 1100px;
        margin: 20px auto;
        padding: 20px;
         
    }

    main {
        flex: 2;
        background: var(--white);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
    } 

    aside{
        flex: 1;
        background: var(--white);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

 /* sections */
  h1,
  h2,
  h3 {
    color: var(--primary-color);
  }

  article {
    margin-bottom: 20px;
    padding: 10px;
    border-left: 5px solid var(--secondary-color); 
    background: var(--white);
    border-radius: 5px; 
  } 

   .photo-gallery {
      width: 100%;
      border-radius: 5px;
      margin-top: 10px;
   }

   iframe {
      width: 100%;
      border-radius: 5px;
      margin-top: 10px;
   }

  aside {
    border-radius: 10px;
  }
    footer {
        background: var(--primary-color);
        color: var(--white);
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }

    /* Responsive Design */ 
    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }
           nav ul {
        flex-direction: column;
        align-itemns: center;
    } 
    } 

    @media (max-width: 480px) {
        header, footer {
            padding: 15px;
        }
        nav a {
            padding: 8px;
            font-size: 14px;
        }
    }

 
